/* 
    NOTES ***
*/

/* CSS Reset - START */
*, *::before, *::after {
    box-sizing: border-box;
}
* {
    margin: 0;
}
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}
input, button, textarea, select {
    font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}
/* CSS Reset - END */



/* COLOURS - START */
:root {
    --yellow: hsl(47, 88%, 63%);
    --white: hsl(0, 0%, 100%);
    --gray-500: hsl(0, 0%, 42%);
    --gray-950: hsl(0, 0%, 7%);
}
.yellow-bg {
    background-color: var(--yellow);
}
.white-bg {
    background-color: var(--white);
}
/* COLOURS - END */



/* SPACING - START */
:root {
    --space-300: 1.5em;
    --space-150: 0.75em;
    --space-50: 0.25em;
}
.margin__bottom--space-150 {
    margin-bottom: var(--space-150);
}
/* SPACING - END */



/* TYPOGRAPHY - START */
@font-face {
    font-family: 'Figtree-SemiBold';
    src: url('assets/fonts/static/Figtree-SemiBold.ttf');
    font-display: swap;
}
@font-face {
    font-family: 'Figtree-ExtraBold';
    src: url('assets/fonts/static/Figtree-ExtraBold.ttf');
    font-display: swap;
}
* {
    line-height: 150%;
    letter-spacing: 0;
}
/* Font Families & Variables */
/* .font--semibold {
    font-family: 'Figtree-SemiBold';
}
.font--extrabold {
    font-family: 'Figtree-ExtraBold';
} */
/* Font Weights */
/* .font__weight--500 {
    font-weight: 500;
}
.font__weight--800 {
    font-weight: 800;
} */
/* Font Colours */
/* .font__gray--500 {
    color: var(--gray-500);
} */
/* Font Sizes */
/* .font__size--200 {
    font-size: 0.875rem;
} */
/* Font Presets */
.text-preset-1 {
    font-family: 'Figtree-ExtraBold';
    font-size: 1.5rem;
}
.text-preset-2 {
    font-family: 'Figtree-SemiBold';
    font-size: 1rem;
    color: var(--gray-500);
}
.text-preset-3 {
    font-family: 'Figtree-SemiBold';
    font-size: 0.875rem;
}
.text-preset-3--bold {
    font-family: 'Figtree-ExtraBold';
    font-size: 0.875rem;
}
/* TYPOGRAPHY - END */



/* GLOBAL - START */
body {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    min-height: 100dvh;
}
main {
    max-width: 24em;
    border: 1px solid var(--gray-950);
    border-radius: 1.25em;
    padding: var(--space-300);
    box-shadow: 0.5em 0.5em;
}
/* GLOBAL - END */



/* CLASSES & IDs - START */
.image {
    width: 100%;
    border-radius: 0.625em;
}
.content {
    margin: var(--space-300) 0;
}
.category {
    padding: var(--space-50) var(--space-150);
    border-radius: var(--space-50);
}
.author {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    gap: var(--space-150);
}
.author img {
    width: 2em;
}
/* CLASSES & IDs - END */



/* MEDIA QUERIES - START */
@media only screen and (max-width: 768px) {
    main {
        max-width: 20.4375em;
    }
    .text-preset-3--bold {
        font-family: 'Figtree-ExtraBold';
        font-size: 0.75rem;
    }
    .author .name {
        font-size: 0.875rem;
    }
    .text-preset-3 {
        font-size: 0.75rem;
    }
    .text-preset-1 {
        font-size: 1.25rem;
    }
}
@media only screen and (max-width: 350px) {
    main {
        max-width: 18em;
    }
}
/* MEDIA QUERIES - END */